// colors
$color-black: #000000
$color-white: #ffffff 
$color-yellow: #ffff22
$color-dark-blue: #1d2624
$color-gray: #d9d9d9
$color-gray-dark: #999999

//time-functions
$time-function: cubic-bezier(0.33, 1, 0.68, 1)

//fonts
$font-main : "Shantell Sans"
$font-brand : "Joti One"